<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/2.10.0/d3.v2.min.js"></script>

  <script type="text/javascript" src="/javascripts/helper-file-watson-api.js"></script>
  <script type="text/javascript" src="/javascripts/personality.js"></script>
  <script type="text/javascript" src="/javascripts/string-utils.js"></script>
  <script type="text/javascript" src="/javascripts/i18n.js"></script>
  <script type="text/javascript" src="/javascripts/textsummary.js"></script>
  <script type="text/javascript">textSummary.init('json');</script>
  </body>
</html>
