<link rel='stylesheet' href='/stylesheets/style.css' />

<h1>BUNK<small>Find your space</small></h1>
<header>
  <figure class="profile-banner">
    <img src="http://dru-cdn.zipcar.com/sites/default/files/sf.jpg" alt="Profile banner" />
  </figure>
  <figure class="profile-picture"
    style="background-image: url('http://science-all.com/images/wallpapers/profile-pictures/profile-pictures-14.jpg')">
  </figure>
  <div class="profile-stats">
    <ul>
      <li>13    <span>Projects</span></li>
      <li>1,354 <span>Commits</span></li>
      <li>32    <span>Following</span></li>
      <li>324   <span>Followers</span></li>
    </ul>
    <a href="javascript:void(0);" class="follow">
      Follow {{first_name}}
    </a>
  </div>
  <h1>{{first_name}} <small>{{last_name}}</small></h1>
</header>
<body>
  <h1> Bio <small>I'm awesome and looking for a equally awesome place to stay. Are you super with an equally super place to stay!? If so we could be super awesome roomies!!</small></h1>

  <center><img src="https://processramblings.files.wordpress.com/2015/04/processramblings_adeel-javed_bpm_ibm-watson-2.png?w=665"/>
    </center>
  </body>
